.sidebar {
    box-shadow: 10px 10px 50px rgb(163, 163, 163);
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    margin: 40px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 400px;
}

.sidebar-image {
    width: 100%;
    margin: 0px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    
}
.sidebar-content {
    margin: 10px 15px;
    padding: 20px;
    text-align: left;
}

.sidebar-title {
    font-size: 30px;
    font-weight: bold;
}

.sidebar-ocupacion {
    margin-top: 20px;
    font-size: 20px;
    font-style: italic;
}

.sidebar-chart {
    margin-top: 20px;
}
